<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo</title>


</head>

<body>
  <div id="app">
    <p>FOO</p>
    <input type="text" v-model='title'>
    <fieldset>
      <legend>Gender</legend>
      <input type="radio" v-model='gender' value="male">
      <input type="radio" v-model='gender' value="female">
      <input type="radio" v-model='gender' value="gay">
      <input type="radio" v-model='gender' value="les">

    </fieldset>

    <input type="checkbox" v-model='show' true-value='foo' false-value='bar'>
    <p>{{show}}</p>
    <div v-on:click='addTodo' :title='title'>{{ show.repeat(5) }}</div>
    <ul>
      <li v-for='todo in todos'>{{ todo }}</li>
    </ul>

    <p>BAR</p>
  </div>
</body>
<script src="vue.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      gender: ' ',
      show: 'foo',
      title: 'the title to be showed',
      message: 'hello world ',
      todos: ['bar', 'baz', 'baa']

    },
    methods: {
      addTodo: function () {

        app.$data.todos.push(Math.random())
      },
    }
  })
</script>

</html>