<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>


</head>

<body>
    <div id="app">
        数量:<input type="number" v-model='amount'> <br>
        单价:<input type="number" v-model='price'> <br>
        总额:<input type="number" v-model='total'> <br>
    </div>
</body>
<script src="vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            amount: 0,
            price: 45,
            total: 0
        },
        watch: {
            amount: function (newVal, oldVal) {
                this.total = this.amount * this.price
            },
            price: function (newVal, oldVal) {
                this.total = this.amount * this.price
            },
            total: function (newVal, oldVal) {
                this.amount = this.total / this.price
            }
        }
    })   
</script>

</html>